{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    # permite usar variables con _
    "no-underscore-dangle": 0,
    # obliga a definir llaves en if/else
    "curly": [2, "all"],
    # obliga a usar punto y coma
    "semi": [2, "always"]
  }
}
