{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    # disallow dangling underscores in identifiers
    "no-underscore-dangle": 0,

    # enforce consistent brace style for all control statements
    "curly": ["error", "all"],

    # require or disallow semicolons instead of ASI
    "semi": ["error", "always"],

    # enforce consistent spacing before and after semicolons
    "semi-spacing": ["error", {"before": false, "after": true}],

    # enforce location of semicolons
    "semi-style": ["error", "last"],

    # disallow the use of undeclared variables unless mentioned in /*global */ comments
    "no-undef": 2,

    # disallow initializing variables to undefined
    "no-undef-init": 2,

    # disallow the use of undefined as an identifier
    "no-undefined": 2,

    # disallow unused variables
    "no-unused-vars": 2,

    # disallow the use of variables before they are defined
    "no-use-before-define": 2,

    # enforce comparing typeof expressions against valid strings
    "valid-typeof": 2,

    # disallow the use of debugger
    "no-debugger": 1,

    # disallow null comparisons without type-checking operators
    "no-eq-null": 2,

    # require require() calls to be placed at top-level module scope
    "global-require": 2,

    # enforce the consistent use of either function declarations or expressions
    "func-style": ["error", "declaration"],

    # enforce placing object properties on separate lines
    "object-property-newline": 2,

    # require or disallow trailing commas
    comma-dangle: ["error", "always-multiline"],

    # require or disallow initialization in variable declarations
    "init-declarations": ["error", "never", { "ignoreForLoopInit": true }],

    # disallow deleting variables
    "no-delete-var": 2,

    # require let or const instead of var
    "no-var": 2
  }
}
